*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    /* Você pode mudar para as suas fontes aqui */
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    /* Você pode mudar para as suas cores aqui */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #1a1a9e;
    --clr-lighterBlue: #2f3fea;

    --fs-h1: 2rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}


.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    position: relative;
    z-index: 3;
}

.btn:hover {
    transform: scale(1.1);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Typography */

strong {
    font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--work {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: .5em;
    color: var(--clr-light);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-opened {
    position: fixed;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-left: 9%;
    padding: 0;
    background-color: var(--clr-accent);
    ;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    cursor: pointer;

}

.nav_links {
    display: none;
}

.nav-link-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
}

.mobile-menu-icon {
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 30px;
    color: white;
    background-color: var(--clr-accent);
    border: none;
    outline: none;
    padding: 0.5rem;
    z-index: 13;
}

.nav__link:hover {
    color: var(--clr-dark);
}

.nav-toggle {
    padding: 0.75em;
    border: 0;
    cursor: pointer;
    right: 2%;
    top: 92%;
    z-index: 1;
    position: fixed;
    background: var(--clr-lighterBlue);
}

.nav-toggle:hover {
    background: var(--clr-lighterBlue);
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

/* Turning the hamburger into a X */
.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger:before {
    transform: rotate(90deg) translateX(-6px);
}

/*  */

.nav-open .hamburger:after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: var(--clr-dark);
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

@media (min-width: 600px) {
    .nav {
        position: fixed;
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translateX(60%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .nav-opened {
        position: fixed;
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 12;
        transform: translateX(60%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }
}

@media (min-width: 900px) {
    .btn {
        display: inline-block;
        padding: 1em 3.5em;
        background: var(--clr-accent);
        color: var(--clr-light);
        text-decoration: none;
        cursor: pointer;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: var(--fw-bold);
        transition: transform 200ms ease-in-out;
        position: relative;
        z-index: 3;
    }

    .nav-toggle {
        position: fixed;
        padding: 0.75em;
        background: var(--clr-lighterBlue);
        border: 0;
        cursor: pointer;
        right: 2em;
        top: 2em;
        z-index: 1;
    }

    .nav-open .nav {
        transform: translateX(75%);
    }

    .nav-open .nav-toggle {
        position: fixed;
    }

    .nav__list {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding-left: 2rem;
    }

    .nav {
        position: fixed;
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translateX(70%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .nav-opened {
        position: fixed;
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 12;
        transform: translateX(70%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .mobile-menu-icon {
        bottom: auto;
    }

}

/* Intro Section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 50%;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 1;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Services Section */

.my-services {
    background-color: var(--clr-dark);

    /* Você pode mudar a imagem de background aqui se você quiser */
    /* background-image: url(../assets/john-schnobrich-FlPc9_VocJ4-unsplash.jpg); */

    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-light);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.services h3 {
    margin: 1rem 0rem;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

/* About Me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 5px 20px 5px;
}

.about-me__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__body p {
    margin: 0.5rem 0rem
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 3em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        max-width: 114%;
        grid-area: img;
        position: relative;
        z-index: 1;
    }

    .nav__list {
        align-items: start;
        padding-left: 2rem;
    }
}

/* My Work */
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portfolio a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.portfolio__item {
    overflow: hidden;
}

.portfolio__img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    border-radius: 35px;
}

.portfolio__item:focus {
    position: relative;
    z-index: 1;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .90;
}

/* Footer */

.footer {
    background: var(--clr-light);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    position: relative;
    z-index: 2;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-list__item i {
    font-size: 32px;
}

.social-list__link {
    padding: 0.5em;
}



@media (max-width: 600px) {
    .social-list {
        display: block;
        font-size: var(--fs-h3);
    }
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    .service+.service {
        margin-left: 2em;
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5em;
    }

    .pay-me {
        width: 12%;
    }
}

.fab,
.far,
.fas {
    color: var(--clr-light);
}